
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-12">
        <h3 style="color:darkcyan">Chat & File Share Web App</h3>
    </div>
</div>
<div class="row" id="pconnect" style="display:none">
    <div class="col-6 offset-3">
        <div class="input-group">
            <input type="text" id="dname" class="form-control" style="color:cadetblue;" placeholder="Your Good Name Please:" aria-label="Your Good Name Please:">
            <button class="btn btn-outline-secondary btn-sm" style="color:lightseagreen;" type="button" id="connect">Connect</button>
        </div>
    </div>
</div>
<div class="row" id="pchat" style="display:none">
    <div class="col-3">
        <h4 style="color:darkgoldenrod">All User</h4>
        <ul class="list-group" id="users">
        </ul>
    </div>
    <div class="col-9">
        <div class="row">
            <div style="color:blue" class="col-12">
                Display Name: <span id="name"></span>
            </div>
            <div class="col-10">
                <div class="input-group">
                    <input type="text" id="msg" style="color:blue" class="form-control" placeholder="write your message here" aria-label="message">
                    <button class="btn btn-outline-secondary btn-sm" style="color:blueviolet" type="button" id="send">Send</button>
                    <button class="btn btn-outline-secondary btn-sm" style="color:brown" type="button" id="browse">Browse</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <h4 style="color:green">Messages</h4>
                <ul class="list-group" id="messages">
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-start gap-1 flex-wrap" id="files">
            </div>
        </div>
    </div>


</div>
<input type="file" id="file" style="display:none" />
@section scripts {
    <script src="~/libs/signalr/signalr.js"></script>
    <script src="~/libs/jquery/jquery.js"></script>
    <script>
        $(() => {
            var con = new signalR.HubConnectionBuilder().withUrl("/ChatAndFileShareHub").build();
            var dname = "";            
            con.on('connected', m => {
                $('#pconnect').show();
            });
            con.on('userlist', users => {
                $("#pchat").show();
                $("#pconnect").hide();
                $("#users").empty();
                users.forEach(u => {
                    $("#users").append(`<li class="list-group-item">${u}</li>`)
                });
            });
            con.on('message', (u, m) => {
                $("#messages").append(`<li class="list-group-item">${u}: ${m}</li>`)
            });
            con.on('uploaded', (u, f, t) => {
                console.log(`${f}-${t}`);
                if (t == 'image') {
                    $('#files').append(`<div class="card" style="width:200px; height:230px;">
                            <img src="/Uploads/${f}" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">${f}</h5>
                            <p class="card-text">Uploaded by ${u}</p>
                            </div>
                        </div>`)
                }
                else {
                    $('#files').append(`<div class="card" style="width:200px; height: 230px;">
                            <img src="/Uploads/doc.png" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">${f}</h5>
                            <p class="card-text">Uploaded by ${u}</p>
                            </div>
                        </div>`)
                }
            });
            con.onerror = err => {
                con.log(err);
            }
            con.start()
                .then(() => {
                    console.log('connected');
                })
                .catch(err => {
                    console.log(err.toString());
                });
            $('#connect').click(() => {
                dname = $('#dname').val();
                $('#name').html(dname);
                con.invoke('join', dname);
            });
            $('#send').click(() => {
                con.invoke('send', dname, $('#msg').val());
                $("#messages").append(`<li class="list-group-item">You: ${$('#msg').val()}</li>`)
                $('#msg').val('');
            });
            $('#browse').click(() => {
                $("#file").trigger('click');
            });
            $("#file").change(() => {
                var f = document.getElementById("file").files[0];
                var reader = new FileReader();
                reader.onloadend = function () {
                    var data = { fileName: f.name, data: reader.result };
                    con.invoke("Upload", dname, data);
                }
                reader.readAsDataURL(f);
            })
        });
    </script>
}



