
@{
    ViewData["Title"] = "Index";
}

<div style="color:teal; padding:110px; text-align:center;">
    <h2>Welcome To My signalR MVC-5 Group Chat Website</h2>
</div>
<div>
    <h4>Attention Please...</h4>
    <h5>The browser can't sent big size image. So, you must send only small size image and this project I put some of image of Pictures folder</h5>
</div>

